/* About.css */

.about {
  position: relative;
  background-color: var(--overlay);
  color: #fff;
  height: 115vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease, background-image 0.5s ease, background-color 0.5s ease;
  overflow: hidden;
}

.parallax-bg-about {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.about.show {
  opacity: 1;
}

.about[data-current-image='1'] .parallax-bg-about {
  background-image: url('../images/about5.jpg');
}

.about[data-current-image='2'] .parallax-bg-about {
  background-image: url('../images/old.jpg');
}

.about[data-current-image='3'] .parallax-bg-about {
  background-image: url('../images/about2.jpg');
}

.about[data-current-image='4'] .parallax-bg-about {
  background-image: url('../images/about6.jpg');
}

.about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 2rem;
  text-align: center;
}

.about h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: linear-gradient(to right, var(--secondary-color), var(--secondary-dark));
}

.about p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.about .button {
  margin-top: 2rem;
  width: 200px;
  background: linear-gradient(to right, #ff4500, #ff0000);
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.3s ease;
}

.about .button:hover {
  background: linear-gradient(to right, #ff0000, #cc0000);
}

.about .arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  transition: color 0.3s ease;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.about .arrow.left,
.about .arrow.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about .arrow.left {
  left: 10px;
}

.about .arrow.right {
  right: 10px;
}

.about .arrow:hover {
  color: #cc9966; /* Light brown color */
}

/* For mobile devices, move arrows below the text */
@media screen and (max-width: 940px) {
  .about .arrow.left,
  .about .arrow.right {
    position: absolute;
    top: 700px; /* Adjust this value to move the buttons higher or lower */
    font-size: 18px; /* Decreased font size for mobile */
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .about .arrow.left {
    left: 10px;
    margin-top: 200px;
  }

  .about .arrow.right {
    right: 10px;
    margin-top: 200px;
  }

  .about h2 {
    font-size: 2.5rem; /* Decreased font size for mobile */
    margin-bottom: 0.5rem; /* Adjusted margin for better spacing */
  }

  .about p {
    font-size: 1.2rem; /* Decreased font size for mobile */
    margin-bottom: 1rem;
  }

  .about .button,
  .about .showroom-button {
    font-size: 1rem; /* Decreased font size for mobile */
  }
}
