/* About.css */

.about {
  position: relative;
  background-color: var(--overlay);
  color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease, background-image 0.5s ease; /* Add transition for opacity and background-image */
  overflow: hidden;
}

.parallax-bg-about {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.about.show {
  opacity: 1;
}

.about[data-current-image='1'] .parallax-bg-about {
  background-image: url('../images/about.jpg');
}

.about[data-current-image='2'] .parallax-bg-about {
  background-image: url('../images/about1.jpg');
}

.about[data-current-image='3'] .parallax-bg-about {
  background-image: url('../images/about2.jpg');
}

.about[data-current-image='4'] .parallax-bg-about {
  background-image: url('../images/about3.jpg');
}

.about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  padding: 1rem;
}

.about h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about .button {
  margin-top: 1rem;
  width: 200px;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  color: #333;
}

.about .button:hover {
  background-color: #555050;
  border: 1px solid #555050;
}

.about .arrow {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.about .arrow.left,
.about .arrow.right {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about .arrow.left {
  left: 10px;
}

.about .arrow.right {
  right: 10px;
}

.about .arrow:hover {
  color: rgba(85, 80, 80, 0.7);
}

/* For mobile devices, move arrows below the text */
@media screen and (max-width: 940px) {
  .about .arrow.left,
  .about .arrow.right {
      position: absolute;
      top: 700px; /* Adjust this value to move the buttons higher or lower */
      font-size: 24px;
      color: #fff;
      background: none;
      border: none;
      cursor: pointer;
      transform: translateY(-50%);
  }

  .about .arrow.left {
    left: 10px;;
  }

  .about .arrow.right {
    right: 10px;
  }
  
}
