
.parallax-page {
    height: 200px;
    /* Adjust the height as needed */
    background-color: var(--primary-dark);
    overflow: hidden;
    perspective: 1px;
}

.parallax-content {
    transform-origin: top;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary-dark);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divider h2 {
    color: var(--primary-dark);
}

.divider p {
    color: var(--primary-dark);
}

/* Add any additional styling for your creative content */