.featured {
  position: relative;
  color: #fff;
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallax-bg-featured {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/darkf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.carousel-container-featured {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-top: 400px; /* Adjust the margin as needed */
  position: relative;
}

.carousel-container-featured img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 10px;
  margin-right: 2rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.3;
}

.carousel-container-featured img.middle-image {
  opacity: 1;
  transform: scale(1.5);
}

.carousel-container-featured img:hover {
  opacity: 1;
  transform: scale(1.5);
  z-index: 1; /* Set a higher z-index for the hovered image */
}

.carousel-container-featured img:not(:hover) {
  opacity: 0.3;
  transform: scale(1);
  z-index: 0; /* Set a lower z-index for other images */
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

