/* Footer.css */

.footer {
  background-color: #ffffff;
  color: #000000;
  padding: 40px 0;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* New styles for columns */
.columns {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}

.column {
  flex: 1;
  text-align: center;
  padding: 0 15px;
}

/* Add space and pipe between columns */
.column:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid #000000;
  padding-right: 10px;
}

/* Add an additional pipe between logo and navigation */
.column:first-child {
  border-right: 1px solid #000000;
  padding-right: 10px;
  padding-left: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.logo {
  max-width: 150px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.column ul li {
  font-size: 18px; /* Adjust font size as needed */
  display: inline-block; /* Display items in a line */
}

.column ul li a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
  white-space: nowrap; /* Prevent line break between words */
}

.column ul li a:hover {
  padding: 5px;
  color: #b32f2f;
  border-bottom: 3px solid var(--secondary-color);
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icons a {
  color: #ff0000;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #b32f2f;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }

  .column {
    text-align: center;
    padding: 0;
  }

  .column:not(:last-child) {
    margin-right: 0;
    border-right: none;
    padding-right: 0;
  }

  .column:first-child {
    border-right: none;
    padding-right: 0;
    padding-left: 0;
  }

  .logo {
    max-width: 120px;
  }

  ul {
    gap: 10px;
  }

  .column ul li {
    font-size: 16px;
  }

  .column ul li:not(:last-child) {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
  }
}
