.icon {
    width: 20px; /* Adjust the width as needed */
    height: auto;
    margin-right: 5px; /* Adjust the margin as needed */
}

.listings-header {
    text-align: center;
    margin-bottom: 20px;
}

.listings-header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.listings-header p {
    font-size: 1rem;
    color: #888;
}

.listings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    padding-top: 100px;
    background: linear-gradient(to bottom, #f3f3f3, #dcdcdc);
}

.vehicle-listing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    border: none;
    max-width: 876px;
    max-height: 533px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.vehicle-listing:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #9F6C01;
}

.image-container {
    max-width: 50%;
    overflow: hidden;
}

.image-container img {
    width: 80%;
    height: auto;
    border: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-container {
    flex: 1;
    padding: 0 20px;
    border-left: 1px solid #ccc;
}

.top-details,
.bottom-details {
    text-align: left;
}

.price,
.mileage,
.transmission-type,
.fuel-type,
.dealership-address {
    font-size: 1rem;
    margin-bottom: 8px;
}

.price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #9F6C01;
}

body {
    font-family: sans-serif;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
}

.used-status {
    color: #888;
    font-size: 1rem;
    margin-bottom: 8px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    display: flex;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.image-carousel-container {
    flex: 1;
}

.image-carousel {
    position: relative;
}

.carousel-button {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.image-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
}

.enquire-button {
    background-color: #44bcd8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.enquire-button:hover {
    background-color: #555555;
}


.enquiry-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.enquiry-form {
    max-width: 200px;
    width: 100%;
    box-sizing: border-box;
}

.enquiry-form h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.enquiry-form input,
.enquiry-form textarea {
    width: 110%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 36px;
    background: #fff;
    color: #333;

}

.enquiry-form textarea {
    height: 100px;
}

.enquiry-form label {
    margin-bottom: 8px;
    color: #ffffff;
}

.enquiry-form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.enquiry-form button:hover {
    background-color: rgb(85, 85, 85)555;
}

.enquiry-form h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.enquiry-form label {
    margin-bottom: 10px;
}


.enquiry-form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.enquiry-form button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .vehicle-listing {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        max-width: 100%;
        max-height: 60vh; /* Adjust the height to your preference */
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .details-container {
        padding: 10px;
        border-left: none;
        text-align: center;
    }

    .modal-content {
        max-width: 90%;
        max-height: 90%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        position: relative; /* Added position: relative; */
    }

    .image-carousel-container {
        max-height: 100vh; /* Adjust the height to match the image height */
        overflow: hidden;
    }

    .image-carousel img {
        max-width: 100%;
        max-height: 50vh;
        object-fit: contain;
    }

    .enquire-button {
        margin-top: 10px;
        display: block;
    }

    .enquiry-form-container {
        width: 100%;
        padding: 10px;
        display: none;
        position: absolute; /* Added position: absolute; */
        top: 50%; /* Added top: 50%; */
        left: 50%; /* Added left: 50%; */
        transform: translate(-50%, -50%); /* Added transform to center the form */
    }

    .enquiry-form {
        max-width: 100%;
    }

    .show-enquiry-form .enquiry-form-container {
        display: flex;
    }
}




